<!-- <link rel = "stylesheet" href = "assets/css/styles.css"> -->

<html>
  <head>
    <title>Create New Item Page</title>
  </head>
  <body style="background-color: #F5F5F5;">
    <p style="font-family: Century Gothic;">Please create a new item</p>
    <p style="font-family: Century Gothic;">Make sure to fill it out completely</p>
      <form action="/userinfo" method="post">
        <ul style="font-family: Century Gothic;">Description: <input type="text" name="description"></ul>
        <ul style="font-family: Century Gothic;">Price: $ <input type="text" name="price"></ul>
        <ul><input type="submit"></ul>
      </form>

  </body>
</html>
