<!-- <link rel = "stylesheet" href = "assets/css/styles.css"> -->

<html>
  <head>
    <title>add events Page</title>
  </head>
  <body>
    <p>
      Please create an account *please make sure to fill it out completely
      <form action="/events" method="post">
        <ul>Description: <input type="text" name="message"></ul>
        <ul>Price: $ <input type="text" name="message"></ul>
        <ul><input type="submit"></ul>
      </form>
    </p>
  </body>
</html>
