<!-- <link rel = "stylesheet" href = "assets/css/styles.css"> -->

<html>
  <head>
    <title>username Page</title>
  </head>
  <body>
    <p>
      Please put in your password below
      <form action="/dashboard" method="post">
        <input type="text" name="password">
        <input type="submit">
      </form>
    </p>
  </body>
</html>
