<!-- <link rel = "stylesheet" href = "assets/css/styles.css"> -->

<html>
  <head>
    <title>Inital Login Page</title>
  </head>
  <body>
    <p>Please put in your password below
      <div class="centered-container"
      <form action="/userinfo" method="post">
        <input type="password" name="password">
        <input type="submit">
      </form>
    </div>
    </p>
  </body>
</html>
