<link rel = "stylesheet" href = "views/styles.css">

<html>
  <head>
    <title>Inital Login Page</title>
  </head>
  <body style="background-color: #F5F5F5;">
    <div class="centered-container"
    <p style="font-family: Century Gothic;">Please put in your password below  </p>
      <form action="/userinfo" method="post">
        <input type="password" name="password">
        <input type="submit">
      </form>
    </div>


  </body>
</html>
