
<html>
  <head>
    <title>Create New User Page</title>
  </head>
  <body style="background-color: #F5F5F5;">
    <p style="font-family: Century Gothic;">
      Please create an account *please make sure to fill it out completely
      <form action="/userinfo" method="post">
        <ul style="font-family: Century Gothic;">First Name: <input type="text" name="message"></ul>
        <ul style="font-family: Century Gothic;">Last Name: <input type="text" name="message"></ul>
        <ul style="font-family: Century Gothic;">Password: <input type="text" name="message"></ul>
        <ul><input type="submit"></ul>
      </form>
    </p>
  </body>
</html>
