
<html>
  <head>
    <title>Create New User Page</title>
  </head>
  <body style="background-color: #F5F5F5;">
    <p style="font-family: Century Gothic;">Please create a new account</p>
    <p style="font-family: Century Gothic;">Make sure to fill it out completely</p>
      <form action="/userinfo" method="post">
        <ul style="font-family: Century Gothic;">First Name: <input type="text" name="first_name"></ul>
        <ul style="font-family: Century Gothic;">Last Name: <input type="text" name="last_name"></ul>
        <ul style="font-family: Century Gothic;">Password: <input type="text" name="password"></ul>
        <ul><input type="submit"></ul>
      </form>
  </body>
</html>
