<!-- <link rel = "stylesheet" href = "assets/css/styles.css"> -->

<p style="font-family: Century Gothic;">Hi! Welcome <%= @name  %>! </p><br />
<body style="background-color: #F5F5F5;">
<p style="font-family: Century Gothic;"> Here are the items you have created </p>

<p style="font-family: Century Gothic;"> Would you like to create a new Item?</p>
<a href="/items" style="font-family: Century Gothic;">Create New Item</a>

</body
