<!-- <link rel = "stylesheet" href = "assets/css/styles.css"> -->

Hi! Welcome <%= @name  %>! <br />

<p> Here are the items you have created </p>




<p> Would you like to create a new Item?</p>
<a href="/items">Create New Item</a>
